<div class="mx-auto w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
    <% end %>

    <%= render @event %>

    <%= link_to "Edit this event", edit_event_path(@event), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this event", event_path(@event), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-red-100 font-medium" %>
    </div>
    <%= link_to "Back to events", events_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

    <div id="notes" class="min-w-full">
      <hr class="my-3">
      <div class="flex justify-between items-center">
        <h1 class="font-bold text-xl">Notes</h1>
        <%= link_to "New note", new_event_note_path(@event), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
      </div>
      <%= render partial: 'notes/note', collection: @notes %>
    </div>
  </div>
</div>
